<figure class="card">
    <div class="card_emoji"> {%IMAGE%} {%IMAGE%}</div>

    <div class="card_titlebox">
        <h2 class="card_title">{%PRODUCTNAME%} </h2>
    </div>

    <div class="card_details">
        <div class="card_detailbox {%NOTORANGIC%}">
            <h2 class="card_detail card_detailorganic">Organic!</h2>
        </div>

        <div class="card_detailbox">
            <h2 class="card_detail">{%QUANTITY%} per 🗳️</h2>
        </div>

    
        <div class="card_detailbox">
            <h2 class="card_detail card_detail_price"> {%PRICE%}</h2>
        </div>
    </div>

    <a class="card_link" href="/product?id={%ID%}">
        <span>Details <i class="emoji_right">👉</i></span>
    </a>   
</figure>